.header-container {
    background-color: #26547c;
    padding: 12px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(50,50,50,0.1);
    height: 11vw;
}

.header-container .main-header {
    color: #d3d0cb;
    margin-top: 0px;
    font-family: 'Fira Mono';
    margin-right: 24px;
    font-size: 26px;
    font-family: "Fira Mono";
    font-weight: bold;
    letter-spacing: 1.5px;
    vertical-align: middle;
}

.header-container .sub-heading {
    color: #202e3a;
    font-family: 'Fira Mono';
    vertical-align: middle;
}

.header-container .header-logo-container {
    margin-right: 22px;
}

@media (max-width: 768px) {
    .header-container {
        height: 180px;
    }

    .header-container .main-header {
        margin-right: 0px;
        font-size: 20px;
        display: block;
    }

    .header-container .header-logo-container {
        display: block;
        margin: 0 auto;
        margin-top: 8px;
        margin-bottom: 8px;
    }

}
